.title {
  display: flex;
  width: 815px;
  box-sizing: border-box;
  padding: 21px 57px 21px 21px;
  font-weight: 400;
  background-color: #303030;
  font-size: 26px;
  color: white;
  justify-content: space-between;
}
